{% if menuCode is not defined %}
    {% set menuCode = admin_lte_context.knp_menu.main_menu %}
{% endif %}

<h2>{{ menuCode }} {{ app.request.get('_route') }}</h2>
{{
knp_menu_render(menuCode, {

    "template"      : "@SurvosBase/knp_menu.html.twig",
    "currentClass"  : "active",
    "ancestorClass" : "ancestor-active",
    "branch_class"  : "nav-item branch",
    'firstClass'    : '',
    'lastClass'     : '',
    'leaf_class'    : 'nav-item',
    "allow_safe_labels": true,
})

}}